footer {
  background: #2c3e50;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-top-left-radius: 1rem;
}

.footer-links,
.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-head {
  font-size: 18px;
  font-weight: 600;
  color: #ecf0f1;
  margin-bottom: 10px;
}

ul,
.personal-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-link {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #3498db;
}

.active-link {
  font-weight: 500;
}
